 {% set scriptTagOptions = {
        'depends': [
            'unionco\\querybuilder\\assetbundles\\querybuilder\\QueryBuilderAsset'
        ],
    } %}
    {# {{ craft.querybuilder.register('/src/js/app.ts', false, scriptTagOptions) }} #}
    {{ craft.querybuilder.register('/src/js/settings.ts', false, scriptTagOptions) }}

<div id="{{ field.id }}" data-querybuilder-settings>
</div>
{# {% do view.registerAssetBundle("unionco\\widen\\assetbundles\\widen\\WidenAsset") %}

    {{ forms.autosuggestField({
        suggestEnvVars: true,
        label: 'Auth Token',
        instructions: 'The Widen DAM authentication string. Format: username/token',
        id: 'authToken',
        name: 'authToken',
        value: settings['authToken']})
    }}

    {{ forms.autosuggestField({
        suggestEnvVars: true,
        label: 'Base URL',
        instructions: 'The Widen DAM Base URL',
        id: 'baseUrl',
        name: 'baseUrl',
        value: settings['baseUrl']})
    }} #}
