 {% set scriptTagOptions = {
        'depends': [
            'unionco\\querybuilder\\assetbundles\\querybuilder\\QueryBuilderAsset'
        ],
    } %}
    {# {{ craft.querybuilder.register('/src/js/app.ts', false, scriptTagOptions) }} #}
    {{ craft.querybuilder.register('/src/js/settings.ts', false, scriptTagOptions) }}

{# {{ dump(categoryGroups) }} #}

<div id="{{ field.id }}" data-querybuilder-settings
    data-category-groups="{{ categoryGroups|json_encode }}"
    data-channels="{{ channels|json_encode }}"
    data-structures="{{ structures|json_encode }}">
    {# <settings category-groups="{{ categoryGroups|json_encode }}"/> #}
</div>
